<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.howardliu.sl.sc.mapper.AuthUserMapper">
    <resultMap id="authUserPojo" type="cn.howardliu.sl.sc.pojo.AuthUserPojo">
        <id property="userId" column="user_id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="enabled" column="enabled"/>
    </resultMap>
    <select id="loadUserByUsername" resultMap="authUserPojo">
        SELECT * FROM auth_user WHERE username=#{username}
    </select>
    <resultMap id="userInfo" type="cn.howardliu.sl.sc.pojo.AuthUserPojo">
        <id property="userId" column="user_id"/>
        <result property="username" column="username"/>
        <result property="enabled" column="enabled"/>
        <collection property="groups" column="user_id"
                    ofType="cn.howardliu.sl.sc.pojo.AuthGroupPojo"
                    select="cn.howardliu.sl.sc.mapper.AuthGroupMapper.listGroupsByUserId"/>
    </resultMap>
    <select id="getUserById" resultMap="userInfo">
        SELECT
          user_id,
          username,
          enabled
        FROM auth_user
        WHERE user_id = #{userId}
    </select>
</mapper>